<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="landing.css">
    <title>Admin Login Page</title>
</head>
<body>
    <div class="Header">
        <a href="#" class="HeaderHeading">MAD Music</a>
        <a href="login.html" class="HeaderContent">User login</a>
    </div>
    <div class="Content">
        <div class="container">
            <div class="welcome">
                Welcome Back Admin! Enter your credentials to login.
            </div>
            <div class="login">
                <form action="/" method="post">
                    <div class="field">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" placeholder="Enter Your Login Id">
                    </div>
                    <div class="field">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Enter Your Password">
                    </div>
                    <div class="field">
                        <input type="submit" value="Login" class="Button">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="Footer">
        <span class="copy">Copyright, 2023</span>
    </div>
</body>
</html>