<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/landing.css">
    <title>Welcome</title>
</head>
<body>
    <div class="Header">
        <a href="landingpage.html" class="HeaderHeading">Music Streaming Application</a>
        <a href="/adminlogin" class="LandingHeaderContent">App Admin Login</a>
    </div>
    <div class="Content">
        <div class="container">
            <div class="welcome">
                Ready to listen to some music?
            </div>
            <div class="buttons">
                <a href="/login" class="Button">Login</a>
                <a href="/register" class="Button">Register</a>
            </div>

        </div>
    </div>
    <div class="Footer">
        <span class="copy">copyright, 2023</span>
    </div>
</body>
</html>