<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/register.css">
    <title>Register</title>
</head>
<body>
    <div class="Header">
        <a href="#" class="HeaderHeading">MAD Music</a>
        <a href="login.html" class="LandingHeaderContent">Login</a>
    </div>
    <div class="Content">
        <div class="container">
            <div class="welcome">
                Welcome to the world of music!
            </div>
            <div class="welcome">
                Sign Up to get started!
            </div>
            <div class="login">
                <form action="/register" method="POST">
                    <div class="field">
                        <label for="username">Enter Your Preferred Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter Your Login Id">
                    </div>
                    <div class="field">
                        <label for="password">Create new Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter Your Password">
                    </div>
                    <div class="field">
                        <label for="email">Enter Your Email ID</label>
                        <input type="email" id="email" name="email" placeholder="Don't worry! We won't spam!!">
                    </div>
                    <div class="field">
                        <label for="contact">Enter Your Phone Number</label>
                        <input type="tel" id="contact" name="contact" placeholder="Enter for Better Services, Not Mandatory">
                    </div>
                    <div class="field">
                        <label for="nickname">How do you like to be called?</label>
                        <input type="text" id="nickname" name="nickname" placeholder="Can be changed later!">
                    </div>
                    <div class="field">
                        <input type="submit" value="Get Started" class="Button">
                    </div>
                    <div class="text">
                        Already have an account? <a href="/login" class="text_highlight">Click here</a> to login!
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <div class="Footer">
        <span class="copy">Copyright, 2023</span>
    </div>
</body>
</html>