<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="song.css">
    <title>Song</title>
</head>
<body>
    <div class="header">
        <div class="header_container">
            <div class="header_major">
                <div class="header_major_container">
                    <a href="#" class="heading">Song Lyric Display</a>
                </div>
            </div>
            <div class="header_minor">
                <div class="header_minor_container">
                    <a href="Creator.html" class="heading">Creator Account</a>
                    <a href="#" class="heading">Explore</a>
                    <a href="#" class="heading">My Space</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="details_pane">
            <div class="container_column">
                <div class="title">
                    Song Name
                </div>
                <div class="details">
                    <div class="container_row">
                        <div class="list">
                            <ul>
                                <li>Created by: Creator</li>
                                <li>Created on: Date</li>
                                <li>Genre: Genre</li>
                            </ul>
                        </div>
                        <div class="rating">
                            <a href="#">Rate this song</a>
                            <a href="home.html">Back</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="lyric_view">
            <div class="pdf_reader">
                <embed src="example.pdf" type="application/pdf" width="800" height="500"> 
            </div>
        </div>
    </div>
</body>
</html>